# ---------------------------------------------------------------------
#                                 C/C++
# ---------------------------------------------------------------------

# shared libraries
*.so
*.dll

# executables
*.exe
*.out

# docs files
docs/html
docs/latex
