# ---------------------------------------------------------------------
#                                 C/C++
# ---------------------------------------------------------------------

# shared libraries
*.so
*.dll

# executables
*.exe
*.out